/*
  Common invoice styles. These styles will work in a browser or using the HTML
  to PDF anvil endpoint.
*/

body {
  font-size: 25px;
  width: 90%;
  align-content: center;
  display: table-cell;
  vertical-align: middle;
}

html {
    display: table;
    margin: auto;
}



table {
  width: 80%;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

.logo-container {
  margin: 20px 0 70px 0;
  text-align: center;
  font-size: smaller;

}

#uba {
  font-variant: small-caps;
}

.invoice-info-container {
  font-size: 0.875em;
}

.invoice-info-container p {
  padding: 4px 0;
}

#titulo {
  margin: 50px 0px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.descripcion {
  font-size: smaller;
  font-style: italic;
}

#clave {
  font-size: smaller;
}

.code {
  font-family: 'Courier New', Courier, monospace;
}

.client-name {
  font-size: 1.5em;
  vertical-align: top;
}

.line-items-container {
  margin: 70px 0;
  font-size: 0.875em;
}

hr {
  color: #ddd;
  border-top: 2px solid #ddd;
}

.line-items-container th {
  text-align: left;
  color: #999;
  border-bottom: 2px solid #ddd;
  padding: 10px 0 15px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}

.footer {
  margin-top: 100px;
}

.footer-thanks {
  font-size: 0.875em;
  text-align: center;
}

.footer-thanks img {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  margin-right: 4px;
}

.footer-info {
  float: right;
  margin-top: 5px;
  font-size: 0.75em;
  color: #ccc;
}

.page-container {
  display: none;
}